/* Media screens */

@media (max-width: 1000px) {

    * {
        /*CSS animations are turned off for mobile devices*/
        animation: none !important;
    }

    .burger-container {
        display: block;
        cursor: pointer;
    }

    #menu-items::before {
        content: "MENU\A\A";
        white-space: pre-wrap;
        text-align: center;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: larger;
        margin-top: 50px;
    }

    .main-menu {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.938) 30%, rgba(65, 63, 63, 0.911) 100%);
        position: fixed;
        top: 0;
        left: -1000px;
        bottom: 0;
        width: 100%;
    }

    #menu-items {
        display: flex;
        flex-direction: column;
    }

    .menu-item {
        padding-left: 0;
        margin-left: 0;
    }

    .menu-item a {
        width: 100%;
        margin: 5px 0;
    }

    .burger-container {
        position: relative;
    }

    #burger {
        display: block;
        width: 34px;
        height: 34px;
        cursor: pointer;
    }

    #burger-close {
        display: none;
        right: 35px;
        top: 40px;
        width: 34px;
        filter: invert();
    }

    .section {
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        min-height: fit-content;
        height: fit-content;
        color: black;
        font-size: 1.5em;
    }



    .container {
        display: inline-block;
        margin: 50px 2px;
        padding: 20px;
        min-width: 350px;
        width: 100%;
        background-color: rgba(250, 235, 215, 0.726);
    }

    .footer-container {
        text-align: left;
    }

}